<!-- <button (click)="game.actionStart()">Start</button>
<button (click)="game.actionStop()">Stop</button>
<button (click)="game.actionReset()">Reset</button>
<button (click)="game.actionRotate()">Rotate</button>
<button (click)="game.actionLeft()">Left</button>
<button (click)="game.actionRight()">Right</button>
<button (click)="game.actionDown()">Down</button> -->
<div class="nes-container with-title">
  <p class="title">Controls</p>
  <div class="main-controls">
    <button class="nes-btn is-success">Start</button>
    <button class="nes-btn is-error">Stop</button>
    <button class="nes-btn is-warning">Reset</button>
  </div>
  <div class="direction-controls">
    <button class="nes-btn">Left</button>
    <button class="nes-btn">Down</button>
    <button class="nes-btn">Right</button>
    <button class="nes-btn">Rotate</button>
  </div>
</div>
