<div class="game-screen-container">
  <info-box
    class="message"
    [message]="'Have a nice game ' + user.name"
  ></info-box>
  <info-box class="time" [message]="'Time played: ' + timePassed"></info-box>
  <info-box
    class="status"
    [border]="true"
    [message]="gameStatus"
    [centered]="true"
    [title]="'Game status'"
  ></info-box>
  <info-box
    class="score"
    [message]="score.toString()"
    [centered]="true"
    [border]="true"
    [title]="'Score'"
  ></info-box>
  <div class="the-game nes-container">
    <tetris-core
      (lineCleared)="onLineCleared()"
      (gameOver)="onGameOver()"
    ></tetris-core>
  </div>
  <game-history class="history"></game-history>
  <controls
    [gameStatus]="gameStatus"
    (dirCommand)="handleDirCommand($event)"
    (stateCommand)="handleStateCommand($event)"
    class="controls"
  ></controls>
  <exit-button class="exit" (click)="handleExit()">Exit</exit-button>
</div>

<!-- < class="the-game"><tetris-core #game></tetris-core></> -->
<!-- <app-controls></app-controls> -->
<!-- (lineCleared)="onLineCleared()" -->
