<div class="game-screen-container">
  <div class="message">Have a nice game</div>
  <div class="time">time passed</div>
  <div class="status">game status</div>
  <div class="score">score</div>
  <div class="the-game"><tetris-core></tetris-core></div>
  <div class="history">game-history</div>
  <app-controls class="controls"></app-controls>
  <div class="exit">exit</div>
</div>

<!-- < class="the-game"><tetris-core #game></tetris-core></> -->
<!-- <app-controls></app-controls> -->
<!-- (lineCleared)="onLineCleared()" -->
