<div class="nes-container with-title">
  <p class="title">Controls</p>

  <div class="main-controls">
    <button
      name="actionStart"
      (click)="handleStateCommand($event.target.name)"
      class="nes-btn is-success"
    >
      Start
    </button>
    <button
      name="actionStop"
      (click)="handleStateCommand($event.target.name)"
      class="nes-btn is-error"
    >
      Pause
    </button>
    <button
      name="actionReset"
      (click)="handleStateCommand($event.target.name)"
      class="nes-btn is-warning"
    >
      Reset
    </button>
  </div>

  <div class="direction-controls">
    <button
      name="actionLeft"
      (click)="handleDirCommand($event.target.name)"
      class="nes-btn"
    >
      Left
    </button>
    <button
      name="actionDown"
      (click)="handleDirCommand($event.target.name)"
      class="nes-btn"
    >
      Down
    </button>
    <button
      name="actionRight"
      (click)="handleDirCommand($event.target.name)"
      class="nes-btn"
    >
      Right
    </button>
    <button
      name="actionRotate"
      (click)="handleDirCommand($event.target.name)"
      class="nes-btn"
    >
      Rotate
    </button>
    <button (click)="navigateToScores()">High Scores</button>
    <button (click)="togglePalette()">Toggle Color</button>
  </div>
</div>
