<div class="nes-field">
  <label for="name">Your name</label>
  <input
    (keyup)="onNameChange()"
    (keydown.enter)="onSubmitForm()"
    [(ngModel)]="name"
    type="text"
    id="name"
    class="nes-input"
    [ngClass]="{ 'is-error': errors.nameError.status }"
  />
  <p
    class="nes-text is-error"
    [ngClass]="{ hidden: !errors.nameError.showError }"
  >
    {{ errors.nameError.text }}
  </p>
</div>

<div class="nes-field">
  <label for="code">Your code</label>
  <input
    (keyup)="onCodeChange()"
    [(ngModel)]="code"
    (keydown.enter)="onSubmitForm()"
    type="password"
    id="code"
    class="nes-input"
    [ngClass]="{ 'is-error': errors.codeError.status }"
  />
  <p
    class="nes-text is-error"
    [ngClass]="{ hidden: !errors.codeError.showError }"
  >
    {{ errors.codeError.text }}
  </p>
</div>

<button
  (click)="onSubmitForm()"
  type="button"
  [disabled]="buttonDisabled"
  class="nes-btn is-success"
  [ngClass]="{ 'is-disabled': buttonDisabled }"
>
  Start
</button>
